/* baloo2 */
/* Balsamiq Sans */
/* Pompiere */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

*{
    margin: 0 auto;
    font-family: "Baloo Bhai 2" !important;
}

/* html {
    scroll-behavior: smooth;
} */

:root {
    --greyTone1:#808080;
    --ease: all 0.8s ease 0s; 
    --ease-color: color 0.8s ease 0s;
    --lightblue-background-bottomhalf:  #cceeff;
}

/* Landing page */
nav{
    background-color: black;
    color: white;
    height: 100px;
}



#nav-0{
    height: 70px;
    width: 216px;
    /* border: red solid 1px; */
    float: left;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: calc(0.5%);
    margin-left: 0.5em */
    transform: translateX(1em) translateY(0.65em);
    color: var(--greyTone1);
    text-decoration: none;
    font-size: 24px;
}

#nav-0:hover{
    cursor: pointer;
}

#nav-0 a{
    text-decoration: none;
}

#nav-1{
    height: 70px;
    width: 110px;
    /* border: green solid 1px; */
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: calc(0.5%); */
    /* margin-left: 1em; */
    /* margin-right: 1.5em; */
    transform: translateX(-3em) translateY(0.8em);
    transition: var(--ease);
    color: var(--greyTone1);
    text-decoration: none;
    font-size: 18px;
}

#nav-1:hover{
    height: 70px;
    width: 110px;
    /* border: red solid 1px; */
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: calc(0.5%);
    margin-left: 1em;
    margin-right: 1.5em; */
    transition: var(--ease);
    color: #fff;
}

#nav-1 a{
    text-decoration: none;
}

#nav-2{
    height: 70px;
    width: 110px;
    /* border: blue solid 1px; */
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: calc(0.5%);
    margin-left: 1em; */
    transform: translateX(-4.3em) translateY(0.8em);
    transition: var(--ease);
    color: var(--greyTone1);
    text-decoration: none;
    font-size: 18px;
}

#nav-2:hover{
    height: 70px;
    width: 110px;
    /* border: red solid 1px; */
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: calc(0.5%);
    margin-left: 1em; */
    transition: var(--ease);
    color: #fff;
}

#nav-2 a{
    text-decoration: none;
}

#nav-3{
    height: 70px;
    width: 110px;
    /* border: yellow solid 1px; */
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: calc(0.5%); */
    transform: translateX(-5em) translateY(0.8em);
    transition: var(--ease);
    color: var(--greyTone1);
    text-decoration: none;
    font-size: 18px;
}

#nav-3:hover{
    height: 70px;
    width: 110px;
    /* border: red solid 1px; */
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: calc(0.5%);
    margin-left: 1em; */
    transition: var(--ease);
    color: #fff;
}

#nav-3 a{
    text-decoration: none;
}

#mainContent{
    padding-left: 10em;
    padding-right: 10em;
    padding-top: 10em;
}

#welcome-container{
    border: 1px black solid;
}

#welcome-text{
    float: left;
}

#welcome-text-title{
    font-size: 75px;
    border: none;
}

#welcome-text-subtitle{
    font-size: 30px;
}

#welcome-text-caption{
    width: 700px;
    transform: translateX(-11.25em);
}

#welcome-image{
    float: right;
}

#welcome-button-link-redirect:hover{
    transition: var(--ease);
    cursor: pointer;
}

#welcome-button-link-redirect{
    transition: var(--ease);
}

#welcome-button-invite{
    border-radius: 100px;
    height: 60px;
    width: 300px;
    /* background-color: rgb(88, 101, 242); */
    border: none;
    transform: translateY(1.5em);
}

#topgg{
    background-image: url("svg-files/blob-1.svg");
    background-repeat: no-repeat;
    transform: translateY(-25em) translateX(-48em);
    width: 1000px;
    height: 1000px;
}

#topgg-promo-container{
    clear: both;
    transform: translateX(20em) translateY(-62em);
}

#topgg-promo-widget{
    width: calc(18%);
}

#topgg-promo-text{
    float: right;
    transform: translateX(-25em);
}

#topgg-promo-text h1{
    font-size: 69px;
}

#topgg-promo-text p{
    font-size: 24px;
}

/*--------------------------------------*/

footer{
    height: auto;
    background-color: black; 
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#footer-0{
    float: left;
    text-align: center;
    margin-left: 10em;
}

#footer-title-0{
    font-size: 18px;
}

#footer-link{
    text-decoration: none;
    color: white;
    transition: var(--ease-color)
}

#footer-link:hover{
    color:#ffcc00;
}


#footer-1{
    float: right;
    text-decoration: none;
    margin-right: 40em;
}


/* Privacy Policy Page */
#privacypolicy-embed{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
}


.custom-shape-divider-bottom-1656656038 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-bottom-1656656038 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 117px;
    transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1656656038 .shape-fill {
    fill: var(--lightblue-background-bottomhalf);
}



#ben{
    background-color: var(--lightblue-background-bottomhalf);
    height: 100vh;
    transform: translateY(63vh);
}