/* baloo2 */
/* Balsamiq Sans */
/* Pompiere */
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&display=swap');

*{
    margin: 0 auto;
    font-family: "Baloo Bhai 2" !important;
}

/* html {
    scroll-behavior: smooth;
} */

:root {
    --greyTone1:#808080;
    --ease: all 0.8s ease 0s; 
    --ease-navbar: color 0.8s ease 0s; 
    --ease-color: color 0.8s ease 0s;
    --lightblue-background-bottomhalf:  #cceeff;
}

/* Landing page */
nav{
    background-color: black;
    color: white;
    height: 6.5em;
}



#nav-0{
    height: 3em;
    width: 9em;
    /* height: 70px; */
    /* width: 216px; */
    /* border: red solid 1px; */
    float: left;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: calc(0.5%);
    margin-left: 0.5em */
    transform: translateX(1em) translateY(0.65em);
    color: var(--greyTone1);
    text-decoration: none;
    /* font-size: 24px; */
    font-size: 1.5em;
}

#nav-0:hover{
    cursor: pointer;
}

#nav-0 a{
    text-decoration: none;
}

#nav-1{
    /* height: 70px; */
    height: 3em;
    width: 6em;
    /* width: 110px; */
    /* border: green solid 1px; */
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: calc(0.5%); */
    /* margin-left: 1em; */
    /* margin-right: 1.5em; */
    transform: translateX(-3em) translateY(1.13em);
    transition: var(--ease-navbar);
    color: var(--greyTone1);
    text-decoration: none;
    font-size: 1.13em;
}

#nav-1:hover{
    /* height: 70px;
    width: 110px; */
    /* border: red solid 1px; */
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: calc(0.5%);
    margin-left: 1em;
    margin-right: 1.5em; */
    transition: var(--ease-navbar);
    color: #fff;
}

#nav-1 a{
    text-decoration: none;
}

#nav-2{
    /* height: 70px; */
    height: 3em;
    width: 5em;
    /* width: 110px; */
    /* border: blue solid 1px; */
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: calc(0.5%);
    margin-left: 1em; */
    transform: translateX(-4.3em) translateY(1.13em);
    transition: var(--ease-navbar);
    color: var(--greyTone1);
    text-decoration: none;
    font-size: 1.13em;
}

#nav-2:hover{
    /* height: 70px;
    width: 110px; */
    /* border: red solid 1px; */
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: calc(0.5%);
    margin-left: 1em; */
    transition: var(--ease-navbar);
    color: #fff;
}

#nav-2 a{
    text-decoration: none;
}

#nav-3{
    height: 3em;
    width: 5em;
    /* height: 70px;
    width: 110px; */
    /* border: yellow solid 1px; */
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: calc(0.5%); */
    transform: translateX(-5em) translateY(1.13em);
    transition: var(--ease-navbar);
    color: var(--greyTone1);
    text-decoration: none;
    /* font-size: 18px; */
    font-size: 1.13em;
}

#nav-3:hover{
    /* height: 70px;
    width: 110px; */
    /* border: red solid 1px; */
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: calc(0.5%);
    margin-left: 1em; */
    transition: var(--ease-navbar);
    color: #fff;
}

#nav-3 a{
    text-decoration: none;
}

#mainContent{
    padding: 10vh;
}

#welcome-container{
    border: 1px black solid;
}

#welcome-text{
    float: left;
}

#welcome-text-title{
    font-size: 4.75em;
    /* font-size: 75px; */
    border: none;
}

#welcome-text-subtitle{
    /* font-size: 30px; */
    font-size: 2.85vh;
}

#welcome-text-caption{
    /* width: 700px; */
    width: 50vh;
    /* transform: translateX(-19.5vh); */
    transform: translateX(calc(-18vh));
}

#welcome-image img{
    float: right;
    width: 20vw !important;
    /* transform: translateX(2vh); */
}

@media (max-width: 1440px){
    #welcome-text-title{
        font-size: 2.85em;
        /* font-size: 75px; */
        border: none;
        color: red;
    }
    
    #welcome-text-subtitle{
        /* font-size: 30px; */
        font-size: 2vh;
    }
    
    #welcome-text-caption{
        /* width: 700px; */
        width: 25vh;
        /* transform: translateX(-19.5vh); */
        font-size: 0.95vh;
        transform: translateX(calc(-14vh));
    }
    
    #welcome-image img{
        float: right;
        width: 10vw !important;
        /* transform: translateX(2vh); */
    }
}

#welcome-button-link-redirect:hover{
    transition: var(--ease-navbar);
    cursor: pointer;
}

#welcome-button-link-redirect{
    transition: var(--ease-navbar);
}

#welcome-button-invite{
    border-radius: 100px;
    height: 3.25em;
    width: 20em;
    /* height: 60px; */
    /* width: 300px; */
    /* background-color: rgb(88, 101, 242); */
    border: none;
    transform: translateY(1.5em);
    cursor: pointer;
}

#topgg{
    background-image: url("svg-files/blob-1.svg");
    background-repeat: no-repeat;
    transform: translateY(-25vh) translateX(-27vh);
    /* width: 1000px; */
    width: 80vw;
    height: 80vh;
    /* height: 1000px; */
}

#topgg-promo-container{
    clear: both;
    transform: translateX(20vh) translateY(-73vh);
}

#topgg-promo-widget{
    /* width: 30em; */
    width: calc(17%);
}

#topgg-promo-text{
    float: right;
    transform: translateX(-30vh);
}

#topgg-promo-text h1{
    /* font-size: 69px; */
    font-size: 6.25vh;
}

#topgg-promo-text p{
    /* font-size: 24px; */
    font-size: 1.75vh;
}

/* wave thing */
.custom-shape-divider-bottom-1656656038 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
/* wave thing */
.custom-shape-divider-bottom-1656656038 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    /* height: 117px; */
    height: 5.6em;
    transform: rotateY(180deg);
}
/* wave thing */
.custom-shape-divider-bottom-1656656038 .shape-fill {
    fill: var(--lightblue-background-bottomhalf);
}

/* wave thing */
.custom-shape-divider-bottom-1656710643 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotateX(180deg) translateY(-81em);
}
/* wave thing */
.custom-shape-divider-bottom-1656710643 svg {
    position: relative;
    display: block;
    width: calc(145% + 1.3px);
    /* height: 195px; */
    height: 5.8em;
}
/* wave thing */
.custom-shape-divider-bottom-1656710643 .shape-fill {
    fill: var(--lightblue-background-bottomhalf);
}

/* big blue background thing */
#ben{
    background-color: var(--lightblue-background-bottomhalf);
    height: 100vh;
    transform: translateY(63vh);
}



/*--------------------------------------*/

footer{
    /* position: absolute; */
    height: auto;
    background-color: black; 
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#footer-0{
    float: left;
    text-align: center;
    margin-left: 10vh;
}

#footer-title-0{
    font-size: 1.5vh;
}

#footer-link{
    text-decoration: none;
    color: white;
    transition: var(--ease-color)
}

#footer-link:hover{
    color:#ffcc00;
}


#footer-1{
    float: right;
    text-decoration: none;
    margin-right: 40vh;
}


/* Privacy Policy Page */
#privacypolicy-embed{
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    padding-top: 10em;
    padding-bottom: 10em;
    width: 1200px;
    height: 1300px;
}

/*-------------------------------*/

/* About Page */

#about-MainContent h1{
    text-align: center;
    font-size: 42px;
}


/*---------------*/
/*---------------*/
/*---------------*/
/*---------------*/
/*---------------*/


@media (max-width: 380px){
    /* do mobile stuff here */
}